<table id="storageTable" class="table table-striped table-hover" ng-controller='storageController'>
    <% if (storage){ %>
    <thead>
    <tr>
        <th>Name</th>
        <th>Kind</th>
        <th>Modified</th>
    </tr>
    </thead>
    <% for(var i = 0, len = storage.folders.length; i < len; i++) { %>
    <tr>
        <td class="filename-col">
            <img class="sprite sprite_web s_web_folder_32 icon" alt="<%= storage.folders[i].name %>" src="/images/icon_spacer.gif">
            <button ng-click="navigate()" href="#"><%= storage.folders[i].name %></button>
        </td>
        <td>folder</td>
        <td>--</td>
    </tr>
    <% } %>
    <% for(var j = 0, len2 = storage.files.length; j < len2; j++) { %>
    <tr>
        <td class="filename-col">
            <img class="sprite sprite_web <%= storage.files[i].mime.i %> icon" alt="<%= storage.files[i].name %>" src="/images/icon_spacer.gif">
            <a href="#"><%= storage.files[i].name %></a>
        </td>
        <td><%= storage.files[i].mime.t %></td>
        <td><%= storage.files[j].modified %></td>
    </tr>
    <% } %>
    <% } %>
</table>