<table id="storageTable" class="table table-striped table-hover">
    <% if (storage){ %>
    <thead>
    <tr>
        <th>Name</th>
        <th>Kind</th>
        <th>Modified</th>
    </tr>
    </thead>
    <% for(var i = 0, len = storage.folders.length; i < len; i++) { %>
    <tr>
        <td class="filename-col">
            <img class="sprite sprite_web s_web_folder_32 icon" alt="APP" draggable="true" src="/images/icon_spacer.gif">
            <a href="#"><%= storage.folders[i].name %></a>
        </td>
        <td>folder</td>
        <td>--</td>
    </tr>
    <% } %>
    <% for(var j = 0, len2 = storage.files.length; j < len2; j++) { %>
    <tr>
        <td><%= storage.files[j].name %></td>
        <td><%= storage.files[j].mime %>
            <gray><%= storage.files[j].suffix %></gray>
        </td>
        <td><%= storage.files[j].modified %></td>
    </tr>
    <% } %>
    <% } %>
</table>